.item header{
    background-color:#DDDDDD;
}


.center_icon{
    font-size:2em;
}

.nav-link span i{
    padding-left: 2.25em;
}

#icon_play{
    color:#9400FF;
    
}
#icon_play:hover{
    color: #AAA;
}

#icon_stackoverflow{
    color:#fe7a15;
}
#icon_stackoverflow:hover{
    color: #AAA;
}

#icon_youtube{
    color:#cc181e;
}
#icon_youtube:hover{
    color: #AAA;
}

#icon_github{
    color:#000;
}
#icon_github:hover{
    color: #AAA;
}